<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The [enter name of library here] Library is here give access to different books
  and other works that the community can access.  The library has many books for
  checkout, as well as reference books that can be used for research.  They cannot
  be checked out, but there are photocopiers which can be used to photocopy the 
  required information.  

  This library also has a video section, which has bluray and dvds for 2 day 
  checkout.  Along with video checkout, there is also a music section with CDs for
  checkout.  

  Along with the media offered, there are also community programs that the library
  offers.  There is a PC users group that meets once a week to discuss different 
  topics in relation to computers.  They also offer training for Microsoft and Adobe
  applications.  Check the event calendar to see what events are up and coming.
</p>

