<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you need help with the computer, speak to one of our representatives
  at the computer help desk.

  If you need a login for the computer, speak to one of the representatives
  at the computer help desk, and they will help you set up an account here at the
  library.  

  Library hours: 8:00am - 9:00pm Monday through Saturday
  phone: 555-5555 [enter actual number here]
</p>
