<% provide(:title, "Help") %>
<h1>Help</h1>
<p>If you are having any problems with the system, request help from a librarian.</p>
<p>If you are having issues with the web application, send an email to
  the <a href="mailto:webadmin@librarysys.com">webadmin</a>.
</p>

