<footer class="footer">
  <small>
    The <em>My Library App</em> project by <strong>Peter Jansen</strong>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!--      <li><a href="http://sites.google.com/">News</a></li> -->
    </ul>
  </nav>
</footer>
